{% extends "base.html" %} 
{% block content %}
<div class="container text-center">
    <div class="col">
        <h3>Edit Post</h3>
        <img
            class="img-fluid mb-3 rounded"
            style="max-height: 350px"
            src="{{ post_image_url }}"
          />
        <form class="pb-4" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button class="btn rounded btn-success" type="submit" name="edit">Update</button>
            <button class="btn rounded btn-danger" type="submit" name="delete">Delete</button>
        </form>
        
      </div>
    </div>
  </div>
{% endblock content %}